:root {
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-text-title: #000000;
  --color-text-accent: #2196f3;
  --color-bg-accent: #2196f3;
  --color-bg-main: #ffffff;
  --color-text-contrast: #ffffff;
  --color-bg-dark: #2f303a;
  --color-bg-light: #f5f4fa;
  --typical-padding-ident: 94px;
  --color-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --font-main: "Roboto", sans-serif;
}

.footer__link, .contacts__link, .site-nav__link, .social-mob__list {
  text-decoration: none;
}

.portfolio__title, .benefits__title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /*width: 100%;*/
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  color: var(--color-text-accent);
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}

.logo__active {
  color: var(--color-text-title);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.logo__active:hover, .logo__active:focus {
  color: var(--color-text-accent);
}

.logo__inverse {
  color: var(--color-text-contrast);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.logo__inverse:hover, .logo__inverse:focus {
  color: var(--color-text-accent);
}

.menu__toggle {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}

.social-mob__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .social-mob__list {
    display: none;
  }
}

.social-mob__item + .social-mob__item {
  position: relative;
  margin-left: 20px;
}
.social-mob__item + .social-mob__item::before {
  position: absolute;
  left: -10px;
  content: "";
  display: block;
  height: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-mob__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-bg-accent);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: var(--color-bg-accent);
  border: 2px solid var(--color-bg-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-text-contrast);
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), shadow 250ms var(--timing-function);
}
.button:hover, .button:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filter:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}

.filter__btn {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--color-bg-accent);
  outline: var(--color-bg-accent);
  color: var(--color-text-contrast);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter--active {
  background-color: var(--color-bg-accent);
  outline: var(--color-bg-accent);
  color: var(--color-text-contrast);
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  background-color: transparent;
  border: 1px solid var(--color-bg-accent);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: shadow 250ms var(--timing-function), background-color 250ms var(--timing-function), fill 250ms var(--timing-function) 250ms;
  transition: shadow 250ms var(--timing-function), background-color 250ms var(--timing-function), fill 250ms var(--timing-function) 250ms;
}
.modal__btn-close:hover, .modal__btn-close:focus {
  background-color: yellowgreen;
  fill: var(--color-bg-accent);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 50px;
  margin-left: 88px;
}
@media (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--color-text-title);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--color-text-accent);
}
.site-nav__link:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}

.site-nav__current {
  color: var(--color-text-accent);
}
.site-nav__current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  background-color: var(--color-bg-accent);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}
@media (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-text-secondary);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--color-text-accent);
}
.contacts__link:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}

.contacts__link-top {
  padding-top: 20px;
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .contacts__link-top {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link-bottom {
  padding-top: 5px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .contacts__link-bottom {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 30px;
  }
}

.contacts__envelope,
.contacts__smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  color: var(--color-text-primary);
  text-align: center;
}

.personal-card {
  width: 100%;
  background: var(--color-bg-main);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .personal-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .personal-card {
    width: calc((100% - 90px) / 4);
  }
}

.personal-card__ident {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .personal-card__ident {
    padding-bottom: 30px;
  }
}

.personal-card__surname {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.personal-card__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-text-secondary);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--color-icon);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--color-bg-accent);
}
.socials__link:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}

.socials__icon {
  color: var(--color-text-contrast);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--color-text-contrast);
}

.sub {
  text-align: center;
}

.sub-title {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  color: var(--color-text-contrast);
  text-transform: uppercase;
  text-align: center;
}

.sub-field {
  position: relative;
}

.sub-input {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--secondary-background-one);
  padding: 15px 16px;
  color: var(--color-text-contrast);
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
@media screen and (min-width: 768px) {
  .sub-input {
    width: 358px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -15%);
            transform: translate(-50%, -15%);
  }
}
@media screen and (min-width: 1200px) {
  .sub-input {
    top: 50%;
    left: 82%;
  }
}
.sub-input:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}

.sub-label {
  position: absolute;
  top: 35px;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sub-btn {
  position: relative;
  top: 90px;
  background-color: var(--color-bg-accent);
  border: 2px solid var(--color-text-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  padding: 8px 60px 8px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-text-contrast);
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), shadow 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .sub-btn {
    top: 18px;
    left: 360px;
  }
}
.sub-btn:hover, .sub-btn:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.sub-btn:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}
.sub-btn::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  -webkit-transition: opacity 1000ms var(--timing-function), visibility 1000ms var(--timing-function);
  transition: opacity 1000ms var(--timing-function), visibility 1000ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  margin-bottom: 28px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.form__input:hover, .form__input:focus-within {
  border: 1px solid var(--color-bg-accent);
}
.form__input:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}
.form__input:not(:-moz-placeholder-shown):valid {
  background-color: rgba(0, 125, 0, 0.2);
  border-color: rgba(0, 125, 0, 0.6);
}
.form__input:not(:-ms-input-placeholder):valid {
  background-color: rgba(0, 125, 0, 0.2);
  border-color: rgba(0, 125, 0, 0.6);
}
.form__input:not(:placeholder-shown):valid {
  background-color: rgba(0, 125, 0, 0.2);
  border-color: rgba(0, 125, 0, 0.6);
}
.form__input:not(:-moz-placeholder-shown):invalid {
  background-color: rgba(125, 0, 0, 0.2);
  border-color: rgba(125, 0, 0, 0.6);
}
.form__input:not(:-ms-input-placeholder):invalid {
  background-color: rgba(125, 0, 0, 0.2);
  border-color: rgba(125, 0, 0, 0.6);
}
.form__input:not(:placeholder-shown):invalid {
  background-color: rgba(125, 0, 0, 0.2);
  border-color: rgba(125, 0, 0, 0.6);
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.form__input:hover + .form__icon, .form__input:focus-within + .form__icon {
  fill: var(--color-bg-accent);
}

.form__label {
  position: absolute;
  top: -16px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--color-text-secondary);
}

.form__area {
  position: relative;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.form__textarea:hover, .form__textarea:focus-within {
  border: 1px solid var(--color-bg-accent);
}
.form__textarea:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}
.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__agreement-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.form__checkbox:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}

.form__check-icon,
.form__checked-icon {
  position: absolute;
  top: 475px;
  left: 40px;
}
@media screen and (min-width: 1200px) {
  .form__check-icon,
.form__checked-icon {
    top: 446px;
    left: 46px;
  }
}

.form__checkbox:not(:checked) ~ .form__checked-icon {
  visibility: hidden;
  border: 2px solid var(--color-text-title);
  border-radius: 2px;
}

/*
.form__checkbox:checked + .form__agreement-icon {
   border: none;
   background-image: url(../images/icon-check.svg);
   background-size: contain;
   background-origin: border-box;
}*/
.form__agreement-text {
  padding-right: 3px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: var(--color-text-secondary);
}
@media screen and (min-width: 1200px) {
  .form__agreement-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    padding-left: 7px;
  }
}

.form__agreement-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  color: var(--color-text-accent);
}
@media screen and (min-width: 1200px) {
  .form__agreement-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
  }
}
.form__agreement-link:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}

.form__btn {
  margin: 0 auto;
  padding-right: 55px;
  padding-left: 55px;
}

.gallery__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-text-contrast);
  text-align: justify;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header {
    width: 100vw;
    height: 60px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mob-menu {
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.mob-menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 98vh;
  padding: 48px 40px;
  z-index: 2;
  background-color: var(--color-bg-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media (min-width: 768px) {
  .mob-menu__container {
    display: none;
  }
}

.mob-menu__icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.mob-menu__icon:hover, .mob-menu__icon:focus {
  fill: var(--color-bg-accent);
}

.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.is-open.mob-menu__icon {
  display: none;
}
.is-open.mob-menu__icon-close {
  display: block;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.mob-menu__icon-close:hover,
.mob-menu__icon-close:focus {
  fill: var(--color-bg-accent);
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-text-primary);
}

.mob-nav__current {
  color: var(--color-text-accent);
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__link-tel {
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--color-text-accent);
}

.mob-contacts__link-mail {
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--color-text-secondary);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/team.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 767px;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__button {
  margin: 0 auto;
}

.hero__title {
  /*max-width: 360px;*/
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: var(--color-text-contrast);
}
@media screen and (min-width: 768px) {
  .hero__title {
    min-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    min-width: 696px;
  }
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__wrap-icon {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--color-bg-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.benefits__label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .benefits__label {
    text-align: left;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--color-text-secondary);
}

.activity {
  padding-bottom: var(--typical-padding-ident);
}

.activity__title {
  margin-bottom: 50px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.activity__item {
  margin: 15px;
  position: relative;
}

.activity__label {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  color: var(--color-text-contrast);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-bg-light);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-bg-light);
  background-color: var(--color-bg-main);
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__item:hover, .clients__item:focus {
  border: 1px solid var(--color-bg-accent);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__link:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--color-bg-accent);
}

.clients__icon {
  fill: var(--color-icon);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.footer {
  padding-top: 60px;
  padding-bottom: 150px;
  background-color: var(--color-bg-dark);
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 94px;
    padding-bottom: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__container-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__contacts {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-bottom: 0;
    text-align: start;
  }
}

@media screen and (min-width: 480px) {
  .footer__information {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-text-accent);
}
.footer__link:hover:focus-visible,
.footer__link:focus:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: var(--color-text-contrast);
}
@media screen and (min-width: 1200px) {
  .footer__address {
    width: 231px;
    margin-right: 70px;
    margin-bottom: 9px;
    text-align: start;
  }
}

.footer__link {
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer__mail {
  display: inline-block;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__mail {
    margin-bottom: 9px;
  }
}

.footer-soc {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-bottom: 0;
  }
}

.footer-soc__message {
  padding-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--color-text-contrast);
}
@media screen and (min-width: 1200px) {
  .footer-soc__message {
    text-align: start;
  }
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc__list {
    margin-right: 93px;
  }
}

.footer-soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-soc__item:last-child {
  margin-right: 0;
}

.footer-soc__item > .footer-soc__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-text-contrast);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.footer-soc__icon {
  color: var(--color-text-contrast);
}

.footer-soc__link:hover,
.footer-soc__link:focus {
  background-color: var(--color-bg-accent);
}

.footer-soc__link:hover .footer-soc__icon,
.footer-soc__link:focus .footer-soc__icon {
  fill: var(--color-text-contrast);
}

.footer-soc__link:focus-visible {
  outline: 2px solid var(--color-bg-accent);
  border-radius: 4px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--color-bg-main);
  border-radius: 4px;
  -webkit-transition: opacity 2500ms, visibility 2500ms, -webkit-transform 250ms var(--timing-function);
  transition: opacity 2500ms, visibility 2500ms, -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 2500ms, visibility 2500ms;
  transition: transform 250ms var(--timing-function), opacity 2500ms, visibility 2500ms, -webkit-transform 250ms var(--timing-function);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-bg-main);
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  width: 100%;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 60px) / 3);
  }
}
.gallery__item:hover, .gallery__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery__item:hover .gallery__overlay, .gallery__item:focus .gallery__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery__item:focus-visible {
  outline: 1px solid #188ce8;
  border-radius: 4px;
}

.gallery__product-thumb {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.gallery__caption {
  max-width: 370px;
  padding: 20px 24px;
}

.gallery__label {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-text-secondary);
}/*# sourceMappingURL=main.css.map */