@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";

@import "./base/common";
@import "./base/reset-ident";

@import "./components/container";
@import "./components/animation";
@import "./components/logo";
@import "./components/button-toggle";
@import "./components/socials-mob-menu";
@import "./components/button";
@import "./components/button-filter";
@import "./components/button-close";
@import "./components/site-nav";
@import "./components/contacts";
@import "./components/title";
@import "./components/personal-card";
@import "./components/socials";
@import "./components/subscribe";
@import "./components/backdrop";
@import "./components/form";
@import "./components/overlay";

@import "./layout/header";
@import "./layout/mobile-menu";
@import "./layout/hero";
@import "./layout/benefits";
@import "./layout/activity";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/modal-order";
@import "./layout/portfolio";
@import "./layout/gallery";
