.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;

  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .gallery__overlay,
  &:focus .gallery__overlay {
    transform: translateY(0);
  }

  &:focus-visible {
    outline: 1px solid #188ce8;
    border-radius: 4px;
  }
}

.gallery__product-thumb {
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.gallery__caption {
  max-width: 370px;

  padding: 20px 24px;
}

.gallery__label {
  margin-bottom: 4px;

  @include font(700, 18px, 2, 0.06em);
}

.gallery__text {
  @include font(400, 16px, 1.88, null);

  color: var(--color-text-secondary);
}
