.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mob.jpg);
  @include retina {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob-2x.jpg);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 767px;

  @include tablet {
    max-width: 1199px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tab-2x.jpg);
    }
  }
  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-2x.jpg);
    }
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}
.hero__button {
  margin: 0 auto;

  animation: opacity 2s linear 1 0s, zoomIn 2s linear 1 2s;
}

.hero__title {
  /*max-width: 360px;*/
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;

  @include font(900, 26px, 1.615, 0.06em);

  color: var(--color-text-contrast);

  animation: opacity 2s linear 1 0s, fadeInDown 2s linear 1 2s;

  @include tablet {
    min-width: 360px;
  }
  @include desktop {
    @include font(null, 44px, 1.36, null);
    min-width: 696px;
  }
}
