.team {
  @include typicalPadding(60px, 60px);

  background-color: var(--color-bg-light);

  @include desktop {
    @include typicalPadding(94px, 94px);
  }
}

.team__title {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
