.button {
   display: flex;
   text-align: center;
   background-color: var(--color-bg-accent);
   border: 2px solid var(--color-bg-accent);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   padding: 10px 32px;

   font-family: inherit;
   @include font(700, 16px, 1.88, 0.06em);
   color: var(--color-text-contrast);

   cursor: pointer;

   transition: color 250ms var(--timing-function),
      shadow 250ms var(--timing-function);

   &:hover,
   &:focus {
      background: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
   }

   &:focus-visible {
      outline: 1px solid #188ce8;
      border-radius: 4px;
   }
}
